.advantages__container {
  padding-left: 15px;
  padding-right: 15px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 10px;
}

.advantages__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-title);
  margin-bottom: 10px;
}

.advantages-logo__container {
  display: flex;
  // margin-right: 0 auto;
  // margin-left: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--qwerty-color);
  margin-bottom: 30px;
  // max-width: 320px;
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .advantages__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .advantages__list {
    display: block;
  }

  .advantages-logo__container {
    max-width: 450px;
    // width: 100vw;
    // width: 100%;
    height: 120px;
  }
}

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .advantages__container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   .advantages__item {
//     width: calc((100% - 30px) / 2);

//     &:nth-last-child(-n + 2) {
//       margin-bottom: 0px;
//     }
//   }
//   .advantages__title {
//     text-align: unset;
//   }
// }

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .advantages-logo__container {
    width: 354px;
    // width: 100%;
    height: 120px;
    // flex-wrap: wrap;

    // margin-bottom: 30px;
  }

  .diagramm-icon {
    padding: 33px 100px;
  }

  .advantages__item {
    max-width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(n + 2) {
      margin-bottom: 0;
    }
  }
  .advantages__list {
    display: flex;
    max-width: 738px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
    align-items: center;
  }

  .advantages__list {
    max-width: 1170px;
    // width: 100vw;
    display: flex;
    flex-wrap: nowrap;

    & .advantages__item {
      flex-basis: calc((100%-90px) / 4);
      margin-right: 30px;
    }
  }

  .advantages-logo__container {
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    & .advantages__item:last-child {
      margin-right: 0px;
    }
  }
}

// @media screen and (max-width: 1200px) {
// }

// .advantages__container {
//   padding-top: 94px;
//   padding-bottom: 47px;
// }

// .advantages__list {
//   margin-right: -30px;
// }

// .advantages__item {
// flex-basis: calc(100% / 4 - 30px);

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
