.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__list {
  display: block;

  // &__logo {
  //   display: flex;
  //   height: 120px;
  //   align-items: center;
  //   justify-content: center;
  //   border-radius: 4px;
  //   background-color: var(--color-filter);
  //   margin-bottom: 30px;
  // }
}

.advantages__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-title);
  // margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: nowrap;

    & .advantages__item {
      flex-basis: calc((100%-90px) / 4);
      margin-right: 30px;
    }
  }
  .advantages-logo__container {
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--qwerty-color);
    margin-bottom: 30px;
  }

  // & .advantages__item:last-child {
  //   margin-right: 0px;
  // }
}

// .advantages__container {
//   padding-top: 94px;
//   padding-bottom: 47px;
// }

// .advantages__list {
//   margin-right: -30px;
// }

// .advantages__item {
// flex-basis: calc(100% / 4 - 30px);

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

//

// .advantages__text {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--color-text);
//   margin-top: 10px;
// }
