.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-title);
  text-align: center;
  // margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms var(--speed-anim);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--speed-anim);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;

    &__item {
      display: flex;
      margin-bottom: 30px;
      width: calc((100% - 30px) / 2);
      height: 90px;
      margin-top: 30px;
    }

    &__item:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  // .clients__list {
  //   flex-basis: calc(100% / 3 - 90px);
  // }

  .clients__item {
    width: calc((100% - 30px * 2) / 3);
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients__item {
    // .clients__list & {
    //   width: calc((100%-150) / 6 - 30);
    //   // margin-right: 30px;
    // }

    .clients__list &:last-child {
      margin-right: 0;
    }
  }
  .clients__link {
    display: flex;
    width: 170px;
    height: 90px;
  }

  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients__items {
    flex-wrap: nowrap;
    margin-top: 50px;
    width: calc((100% - 30px * 5) / 6);
    flex-basis: calc(100% / 6 - 30px);
  }
}
