.head__container {
  margin: 0 auto;
  padding: 15px 23px 15px 15px;
  align-items: center;
}

.nav__link {
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .head__container {
    width: 480px;
  }
}

@media screen and(max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    padding: 48px 40px;
    background-color: var(--white-color);
    transform: translateY(-100%);
    transition: transform 250ms var(--speed-anim);
  }

  .is-open {
    transform: translateY(0);
    .mobile-menu & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  .burger-button,
  .mibile-menu__close-button {
    background-color: #fff;
    border-color: transparent;
    border: none;
    padding: 0;
  }

  .burger-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-title);
  }

  .mobile-menu__close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
  }

  .info__link,
  .tel__link,
  .navigation__list,
  .header__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  display: flex;
  .head__container {
    margin: 0 auto;
  }

  .burger-button {
    display: none;
  }

  .head__item {
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .info__link,
  .mail__link,
  .header__list,
  .navigation__list {
    display: block;
  }

  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }

  .burger-button,
  .mibile-menu__close-button {
    display: none;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
  }

  .nav__link {
  .nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title);
    display: block;
  }
}

// @media screen and (max-width: 1199px) {
//   .header__item {
//     display: flex;
//   }
// }

@media screen and (min-width: 1200px) {
  width: 1200px;
  .current::after {
    position: absolute;
  }
  .navigation__list {
    align-items: center;
    display: flex;

    & :not(:last-child) {
      margin-right: 50px;
    }
  }
  .head__item {
    align-items: center;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .head__icon {
    margin-right: 10px;
    align-items: center;
    fill: var(--color-text);
    transition: fill 250ms var(--speed-anim);
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 0 15;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.current {
  color: var(--accent-color);
  &::after {
    // position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.navigation {
  display: flex;
}

.header__list {
  align-items: center;
  margin-left: auto;
}


// .nav__link {
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--color-title);
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition: color 250ms var(--speed-anim);

//   &:hover,
//   &:focus,
//   &:active {
//     color: var(--accent-color);
//   }
// }

// .info__link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--color-text);
//   margin-left: auto;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   //display: flex;
//   align-items: center;
//   transition: color 250ms var(--speed-anim);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
// }
//}

// .tel__link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--color-text);
//   padding-top: 32px;
//   padding-bottom: 32px;
//   //display: flex;
//   align-items: center;
//   transition: color 250ms var(--speed-anim);

//   &:focus,
//   &:hover {
//     color: var(--accent-color);
//   }
//}


// .head__icon--hover {
//   .info__link:hover &,
//   .info__link:focus &,
//   .tel__link:hover &,
//   .tel__link:focus & {
//     fill: var(--accent-color);
//     color: var(--accent-color);
//   }
// }