@media screen and (max-width: 768) {
}

@media screen and (min-width: 480px) {
  .overlay {
    max-width: 480px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./img/img-mod/mobile_img/hero-bgrnd-mob/hero-bgrnd-mob.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--hero-bgrnd-color);
  }

  .hero {
    min-height: 400px;
    background-color: var(--bgrnd-her);
  }

  .hero__container {
    align-items: center;
    padding: 118px 60px 118px 60px;
    text-align: center;
  }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 30px;
    color: var(--white-color);
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding: 118px 204px 118px 204px;
  }

  .overlay {
    max-width: 767px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../img/img-mod/mobile_img/hero-bgrnd-mob/hero-bgrnd-mob.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--hero-bgrnd-color);
  }

  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../img/img-mod/desk_img/bgrnd/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--hero-bgrnd-color);
  }

  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--white-color);
  }
}
