.our-team {
  // width: 100%;
  background-color: var(--qwerty-color);
  // padding-left: 15px;
  // padding-right: 15px;
  // & .container {
  // background-color: var(--qwerty-color);
  // }
}

.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-title);
  text-align: center;
}
.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--speed-anim);
}

.our-team__specialists {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.our-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 16px;
  text-align: center;
}

.our-team-title__container {
  padding-top: 30px;
  background-color: var(--white-color);
}

.our-team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .our-team-title__container {
    padding-bottom: 24px;
  }
  .our-team-title__container {
    padding-right: 122px;
    padding-left: 122px;
  }

  .our-team .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .our-team__title {
    margin-bottom: 30px;
  }
  .our-team__item {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__photo {
    // width: 354px;
    width: 100%;
    // height: 374px;
    height: auto;
  }

  .our-team {
    // display: flex;
    flex-wrap: wrap;
    // margin-left: -15px;
    // margin-right: -15px;
    // width: 768px;
    max-width: 1199;
    & .container {
      // padding-left: 15px;
      padding: 60px 0px;
      margin: 0 auto;
      // margin-left: 15px;
    }
  }
  .social-list__item {
    display: block;
  }

  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // padding-left: 15px;
    // margin-left: -30px;
    // margin-top: -30px;
  }

  .our-team__item {
    flex-basis: calc(100% / 2 - 30px);
    // &:nth-child(even) {
    // }
    // margin-left: 30px;
    margin-top: 30px;
  }
  .our-team-title__container {
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 24px;
    // display: flex;
  }

  // .our-team__title {
  //   margin-bottom: 30px;
  // }
}

@media screen and (min-width: 1200px) {
  .our-team {
    // padding: 94px 15px;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .our-team__container {
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }

  .our-team__photo {
    width: 270px;
    height: 260px;
  }
  .our-team__list {
    display: flex;
    flex-wrap: nowrap;
    min-width: 1170px;
    margin-right: 30px;
    margin-top: 50px;
    align-items: center;
    // margin-left: 0 auto;
    // margin-right: 0 auto;
    text-align: center;
  }
  .our-team__item {
    min-width: 270px;
    flex-basis: calc(100% / 4 - 30px);
    // text-align: center;
    // align-items: center;
    // justify-content: center;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .our-team-title__container {
    padding: 32px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
