.gallery-cards__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cards-title__container {
  padding: 20px 24px;
  background: var(--primary-background-color);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.cards__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  margin: 0;
}

.cards__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 4px;
}

.overlay__container {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px 77px 24px 77px;

  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 250ms var(--speed-anim);
  .gallery-cards__link:hover &,
  .gallery-cards__link:focus & {
    transform: translateX(0%);
  }
}

.gallery-cards__link {
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (max-width: 767px) {
  .gallery-cards__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .gallery-filter__item--mobile {
    margin-bottom: 15px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    padding: 0px 40px;
    // padding: 0;
    background-color: var(--white-color);
    transform: translateY(-100%);
    transition: transform 250ms var(--speed-anim);
  }

  .is-open {
    transform: translateY(0);
    .mobile-menu & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  .burger-button,
  .mibile-menu__close-button {
    background-color: #fff;
    border-color: transparent;
    border: none;
    padding: 0;
  }

  .burger-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-title);
  }

  .mobile-menu__close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards-title__container--height {
    padding-bottom: 56px;
  }

  .gallery-cards__item {
    max-width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    & .img {
      max-width: 100%;
      max-height: auto;
      display: block;
    }
  }

  .gallery-cards__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .overlay-text {
    padding: 24px 49px 24px 49px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-cards__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .gallery-cards__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  .gallery-cards__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
