.header-portf {
  border-bottom: 1px solid #eeeeee;
}
.head__container {
  margin: 0 auto;
  padding: 15px 23px 0px 15px;
  align-items: center;
}

.current {
  color: var(--accent-color);
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.head__icon--hover {
  .info__link:hover &,
  .info__link:focus &,
  .tel__link:hover &,
  .tel__link:focus & {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 0 15;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .head__container {
    width: 480px;
  }
}

@media screen and(max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    padding: 48px 40px;
    background-color: var(--white-color);
    transform: translateY(-100%);
    transition: transform 250ms var(--speed-anim);
  }

  .is-open {
    transform: translateY(0);
    .mobile-menu & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  .burger-button,
  .mibile-menu__close-button {
    background-color: #fff;
    border-color: transparent;
    border: none;
    padding: 0;
  }

  .burger-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-title);
  }

  .mobile-menu__close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
  }

  .info__link,
  .tel__link,
  .navigation__list,
  .header__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .head__container {
    margin: 0 auto;
    width: 768px;
    padding: 0px 15px 0px 15px;
  }

  // .header__list {
  //   & .head__item:last-child {
  //     // padding-bottom: 21px;
  //   }
  // }

  .burger-button {
    display: none;
  }

  .head__item {
    // padding-top: 5px;
    // padding-bottom: 5px;
    display: flex;
  }

  .nav-item {
    position: relative;
    display: flex;
    align-items: center;
  }

  .info__link {
    display: flex;
  }

  .info__link,
  .mail__link,
  .header__list,
  .navigation__list {
    display: block;
  }

  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }

  // .current::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   display: inline-block;
  //   // align-items: flex-end;
  // }

  .burger-button,
  .mibile-menu__close-button {
    display: none;
  }

  .navigation__list {
    display: flex;
    // justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation {
    // justify-content: space-between;
  }

  .nav__link:not(:last-child) {
    margin-right: 50px;
  }

  .nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title);
    display: block;
    height: 100%;
  }

  .head__icon {
    width: 14px;
    height: 10px;
    margin-right: 10px;
    align-items: center;
    fill: var(--color-text);
    transition: fill 250ms var(--speed-anim);
  }

  .info__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-left: auto;
    // padding-top: 5px;
    // padding-bottom: 5px;
    align-items: center;
    transition: color 250ms var(--speed-anim);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .tel__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--color-text);
    // padding-top: 5px;
    // padding-bottom: 32px;
    align-items: center;
    transition: color 250ms var(--speed-anim);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}

// @media screen and (max-width: 1199px) {
//   .header__item {
//     display: flex;
//   }
// }

@media screen and (min-width: 1200px) {
  .head__container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  // .current {
  //   color: var(--accent-color);
  //   &::after {
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     content: "";
  //     display: block;
  //     width: 100%;
  //     height: 4px;
  //     background-color: var(--accent-color);
  //     border-radius: 2px;
  //   }
  // }

  // .current::after {
  //   position: absolute;
  //   // bottom: -220%;
  //   bottom: 0;
  //   left: 0;
  // }

  .current.current {
    color: var(--accent-color);
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  .navigation__list {
    align-items: center;
    text-align: center;
    display: flex;
  }

  .nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .nav__link:not(:last-child) {
    margin-right: 50px;
  }

  .head__item {
    align-items: center;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .head__icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    align-items: center;
    fill: var(--color-text);
    transition: fill 250ms var(--speed-anim);
  }

  .header__list {
    display: flex;
    text-align: center;
    // & .head__item {
    //   padding-bottom: 32px;
    //   padding-top: 32px;
    // }
  }

  .info__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    align-items: center;
    transition: color 250ms var(--speed-anim);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .tel__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    align-items: center;
    transition: color 250ms var(--speed-anim);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }

  .nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title);
    display: block;
  }
}
