@media screen and (min-width: 1200px) {
  .products-company {
    // width: 1170px;
    // display: flex;
    padding-bottom: 94px;
  }

  .products__list {
    max-width: 1170px;
    display: flex;
    margin-left: -30px;
    margin-top: 50px;
    // display: flex;
  }

  .products__item {
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }

  // .products__container {
  //   // padding-top: 47px;

  //   // margin: 0 auto;
  // }

  .products__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
  }

  .overlay-products__container {
    position: relative;
  }

  .products-overlay__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
    text-align: center;
  }

  .overlay-text__container {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    // padding-bottom: 27px;
    // padding-top: 27px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .products-company {
    display: none;
  }
}
