.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  width: 135px;
  height: 30px;
}

.logo__text {
  color: var(--accent-color);
}

.logo--black {
  color: var(--black-color);
  margin-right: 93px;
}

.logo--white {
  color: var(--white-color);
  // margin-bottom: 20px;
  // text-align: center;
  // justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-logo__container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer .logo {
    margin: 0px auto 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .logo {
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer .logo {
    margin: 0 0 20px 0;
  }

  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
