.hero__btn {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 0px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // margin-left: 0 auto;
  // margin-right: 0 auto;
  // display: flex;
}
