.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--logo-fill);
  transition: fill 250ms var(--speed-anim);
  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--white-color);
  }
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
}
